.winner-line {
  position: absolute;
  background-color: get(line);

  &.horizontal {
    left: 10%;
    width: 80%;
    height: 10px;
  }

  &.horizontal-0 {
    top: calc((((100% - 50px) / 3) - 5px) / 2);
  }

  &.horizontal-1 {
    top: calc(50% - 5px);
  }

  &.horizontal-2 {
    bottom: calc((((100% - 50px) / 3) - 5px) / 2);
  }

  &.vertical {
    top: 10%;
    width: 10px;
    height: 80%;
  }

  &.vertical-0 {
    left: calc((((100% - 50px) / 3) - 5px) / 2);
  }

  &.vertical-1 {
    left: calc(50% - 5px);
  }

  &.vertical-2 {
    right: calc((((100% - 50px) / 3) - 5px) / 2);
  }

  &.diagonal {
    left: 50%;
    top: 10%;
    width: 10px;
    height: 80%;
  }

  &.diagonal-0 {
    transform: skew(45deg, -45deg);
  }

  &.diagonal-1 {
    transform: skew(-45deg, 45deg);
  }
}
